:root {
  --tinyMargin: 3px;
  --smallerMargin: 5px;
  --smallMargin: 7px;
  --regularMargin: 10px;
  --bigMargin: 15px;
  --biggerMargin: 20px;

  /* Border radius */
  --regularBorderRadius: 20px;

  /* Colors */
  --backgroundColour: #f0f0f0;
  --foregroundColour: #333;
  --fillColour100: #a69580;
  --fillColour200: #8c6a3f;
  --fillColour300: #734c1d;
  --gray100: #d9d9d9;
  --gray200: #a6a6a6;
  --gray300: #737373;

  /* Image overlay color */
  --overlayColor: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--backgroundColour);
  color: var(--foregroundColour);
}

header {
  display: flex;
  background-color: var(--foregroundColour);
  color: var(--backgroundColour);
  padding: var(--regularMargin);
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--backgroundColour);
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding: var(--regularMargin);
}

#intro {
  text-align: center;
  background-color: var(--gray100);
  color: var(--foregroundColour);
  background-image: url("intro-background.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  position: relative;
}

#intro h2 {
  position: relative;
  z-index: 1;
}

#intro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlayColor);
  z-index: 0;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray200);
  color: var(--foregroundColour);
}

#servicesCont,
#biosCont {
  display: flex;
  flex-direction: row;
  gap: var(--biggerMargin);
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: var(--backgroundColour);
  border-radius: var(--regularBorderRadius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  color: var(--foregroundColour);
  position: relative;
  overflow: hidden;
  padding: 0;
}

.image-container {
  width: 100%;
  height: 200px; /* Set a fixed height for the image container */
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the container */
}

.card-content {
  padding: var(--regularMargin); /* Add padding to card content */
}

.card h3 {
  width: 100%;
  background: var(--overlayColor);
  color: var(--backgroundColour);
  mix-blend-mode: difference;
  z-index: 1;
}

#bios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray300);
  color: var(--backgroundColour);
}

.bio img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#contact {
  background-color: var(--gray200);
  color: var(--foregroundColour);
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact ul li {
  margin: 0.5rem 0;
}

footer {
  text-align: left;
  padding: var(--regularMargin);
  bottom: 0;
  width: 100%;
}

/* Margins */
.noMarginTopBottom {
  margin-block-start: 0;
  margin-block-end: 0;
}

.tinyMarginTopBottom {
  margin-block-start: var(--tinyMargin);
  margin-block-end: var(--tinyMargin);
}

.smallerMarginTopBottom {
  margin-block-start: var(--smallerMargin);
  margin-block-end: var(--smallerMargin);
}

.smallMarginTopBottom {
  margin-block-start: var(--smallMargin);
  margin-block-end: var(--smallMargin);
}

.regularMarginTopBottom {
  margin-block-start: var(--regularMargin);
  margin-block-end: var(--regularMargin);
}

.bigMarginTopBottom {
  margin-block-start: var(--bigMargin);
  margin-block-end: var(--bigMargin);
}

.biggerMarginTopBottom {
  margin-block-start: var(--biggerMargin);
  margin-block-end: var(--biggerMargin);
}

@media only screen and (max-width: 782px) {
  #biosCont {
    flex-direction: column;
  }

  .card {
    max-width: 500px;
  }
}
